extends layout

block templates
  div#template_slot
    div.wm-card-slot
      button.btn.btn-default.btn-block.wm-select
        span.glyphicon.glyphicon-plus
      button.btn.btn-success.btn-block.wm-ok.wm-hide
        span.glyphicon.glyphicon-ok
      button.btn.btn-danger.btn-block.wm-cancel.wm-hide
        span.glyphicon.glyphicon-remove
  div#template_card
    div.thumbnail.wm-card(id="${id}",data-played="${played}",data-year="${year}")
      div.caption.text-center
        strong ${title}
      img.img-responsive.img-thumbnail.wm-card-img(src="${img}")
      div.caption.text-center
        p ${content} 
          strong.mark ${year}

block append bottom_javascript
  script(type='text/javascript').
    require(['webapp/WikiMeta','dojox/mvc/Output','dojo/domReady!']);


block content
  div.container-fluid
    div.row
      div.col-xs-12 &nbsp;
    div.row
      div.col-xs-8.col-xs-offset-2.text-center
        div.alert.alert-success(role="alert",data-dojo-type="dojox/mvc/Output",data-dojo-props="innerHTML: at(model, 'game_instructions'), className: at(model, 'game_instructions_type')") &nbsp;
    div.row
      div.wm-cards-area.scrollable
        center
          table
            tbody
              tr#rowContent
              tr
                td(colspan="100%")
                  span.pull-left &#x221e;
                  span.pull-right today
  div.container-fluid
    div.row
      div#currentCard.col-xs-4.col-xs-offset-4.text-center
  div(data-dojo-type="PageController", data-dojo-id="PageController")

